@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-overlay {
    pointer-events: none;
}

.edit-overlay.active {
    pointer-events: all;
    display: block !important;
    @apply blur-md bg-opacity-60
}

.doblur.active-edit li,
.doblur.active-edit.create-form,
.doblur.active-edit.count-todos,
.doblur.active-edit.todolistbottom {
    @apply blur-[2px]
}

.doblur.active-edit .editing {
    @apply blur-none
}


.dark ::-moz-selection {
    /* Code for Firefox */
    @apply text-white bg-slate-500
}

.dark ::selection {
    @apply text-white bg-slate-500
}